/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
:root{
    --bg-main: hsl(257, 40%, 49%);
    --clr-main: white;
    --clr-paragraph: rgba(255, 255, 255, 0.747);
    --ff-header: poppins;
    --ff-paragraph: open_sans;
    --fs-paragraph-big: 1.5rem;
    --fw-paragraph-big: 700;
    --fs-header: 1.3rem;
    --fs-header-media: 1.8rem;
    --fs-paragraph-small: 0.9rem;

}
@font-face {
    font-family: poppins;
    src: url(Poppins-Light.ttf);
}
@font-face {
    font-family: open_sans;
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.landing-page{
    background: url(bg-mobile.svg) top center no-repeat var(--bg-main);
    background-size: 100%;
    max-width: 37rem;
    display: grid;
    gap: 1.3rem;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    color: var(--clr-main);
}
.landing-page .landing-page_big-paragraph{
    justify-self: start;
    font-family: var(--ff-header);
    font-size: var(--fs-paragraph-big);
    font-weight: var(--fw-paragraph-big);
}
.landing-page .landing-page_h1{
    font-family: var(--ff-header);
    font-size: var(--fs-header);
}
.landing-page .landing-page_small-paragraph{
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph-small);
    color: var(--clr-paragraph);
}
/**h2{
    color: hsl(257, 40%, 49%);
    color: hsl(300, 69%, 71%);
}*/
.landing-page .landing-page_image{
    margin: 2rem;
}
.landing-page .landing-page_text{
    display: grid;
    gap: 1.3rem;
}
.landing-page_anchor-link{
    text-decoration: none;
    color: var(--bg-main);
    background-color: var(--clr-main);
    padding: 0.3rem 3rem;
    margin: auto 3rem auto 3rem;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 1px rgb(105, 59, 119);
}
.landing-page .social-links{
    display: flex;
    gap: 0.5rem;
    margin: 2rem auto 1.5rem auto;
}
.attribution{ 
    font-size: 11px; text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (min-width:58.25rem){
    .landing-page{
        background: url(bg-desktop.svg) center no-repeat var(--bg-main);
        background-size: 100%;
        max-width: 70rem;
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
        grid-auto-columns: 1fr 1fr;
        /**justify-self: unset;*/
    }
    .landing-page .landing-page_text{
        text-align: left;
        display: inline-block;
        margin: 4rem 4rem 4rem auto;

    }
    .landing-page .landing-page_h1{
        font-size: var(--fs-header-media);
        margin: 1rem auto;
        line-height: 1.5;
    }
    .landing-page .landing-page_small-paragraph{
        margin: 1.5rem auto;
    }
    .landing-page_anchor-link{
        padding: 0.6rem 3rem;
        margin: 0;
    }
    .landing-page .social-links img{
       margin-right: auto;
    }
    .landing-page .social-links{
        margin-right: auto;
        text-align: right;
    }
}